<%- include("partials/navbar") %>

<main class="mp-container">

  <form action="#" class="mp-searchBox">
      <input class="mp-searchInput" type="search" name="search" value="<%= search || '' %>" placeholder="Search 🔍">
      <button class="mp-searchBtn" type="submit">🔍</button>
  </form>

<table class="mp-table">
    <thead>
        <tr>
            <th>
                <form method="get" action="">
                    <input type="hidden" name="sortField" value="name">
                    <input type="hidden" name="order" value="<%= (currentOrder === 'asc') ? 'desc' : 'asc' %>">
                    <button type="submit">
                        Name 
                        <span class="<%= (currentSort === 'name') ? 'is-active' : '' %>">
                            <%= (currentOrder === 'asc') ? '▼' : '▲' %>
                        </span>
                    </button>
                </form>
            </th>

            <th>
                <form method="get" action="">
                    <input type="hidden" name="sortField" value="foundDate">
                    <input type="hidden" name="order" value="<%= (currentOrder === 'asc') ? 'desc' : 'asc' %>">
                    <button type="submit">
                        Found Date 
                        <span class="<%= (currentSort === 'foundDate') ? 'is-active' : '' %>">
                            <%= (currentOrder === 'asc') ? '▲' : '▼' %>
                        </span>
                    </button>
                </form>
            </th>

            <th>Id</th>

            <th>
                <form method="get" action="">
                    <input type="hidden" name="sortField" value="population">
                    <input type="hidden" name="order" value="<%= (currentOrder === 'asc') ? 'desc' : 'asc' %>">
                    <button type="submit">
                        Population
                        <span class="<%= (currentSort === 'population') ? 'is-active' : '' %>">
                            <%= (currentOrder === 'asc') ? '▲' : '▼' %>
                        </span>
                    </button>
                </form>
            </th>

            <th>Is Capital</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <% cities.forEach(city => { %>
        <tr>
            <td>
                <div class="mp-cityCell mp-tooltip">
                    <img class="mp-cityImg" src="<%= city.imageUrl %>">
                    <span class="mp-cityName"><%= city.name %></span>

                    <div class="mp-tooltip-text">
                        <strong><%= city.name %></strong><br>
                        <%= city.description %>
                    </div>
                </div>
            </td>

            <td><%= city.foundedDate %></td>
            <td><%= city.id %></td>
            <td><%= city.population %></td>
            <td><%= city.isCapital %></td>

            <td>
              <a class="mp-actionLink" href="/cities/details/<%= city.id %>"   >
                View details
              </a>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>

</main>

<%- include("partials/footer") %>
