<%- include("partials/navbar") %>

<div class="city-card-container">
  <div class="city-card">
    <div class="city-image-box">
      <img src="<%= city.imageUrl %>" alt="<%= city.name %>">
    </div>

    <div class="city-info">
      <h1><%= city.name %></h1>
      <p class="city-description"><%= city.description %></p>

      <table class="city-table">
        <tbody>
          <tr><td>Region Type</td><td class="sInfo"><%= city.regionType %></td></tr>
          <tr><td>Population</td><td class="sInfo"><%= city.population %></td></tr>
          <tr><td>Capital</td><td class="sInfo"><%= city.isCapital %></td></tr>
          <tr><td>Founded</td><td class="sInfo"><%= city.foundedDate %></td></tr>
          <tr><td>Country ID</td><td class="sInfo"><%= city.countryid %></td></tr>
          <tr><td>Landmarks</td><td class="sInfo"><%= city.landmarks %></td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include("partials/footer") %>
