<%- include("partials/navbar") %>

<div class="city-card-container">
  <div class="city-card">
    <div class="city-image-box">
      <img src="<%= country.flagUrl %>" alt="<%= country.name %> Flag">
    </div>
    <div class="city-info">
      <h1><%= country.name %></h1>
      <p class="city-description"><%= country.motto %></p>

      <table class="city-table">
        <tbody>
          <tr><td>Continent</td><td class="sInfo"><%= country.continent %></td></tr>
          <tr><td>Independence Year</td><td class="sInfo"><%= country.independenceYear %></td></tr>
          <tr><td>Country ID</td><td class="sInfo"><%= country.id %></td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include("partials/footer") %>
