<%- include("partials/navbar") %>

<div class="editCity-container">

    <h1 class="editCity-title">Stad Bewerken</h1>

    <img class="editCity-image" src="<%= city.imageUrl %>" alt="<%= city.name %>">

    <form class="editCity-form" action="/cities/editcity" method="POST">
        <input type="hidden" name="id" value="<%= city._id %>">

        <label class="editCity-label">Naam</label>
        <input class="editCity-input" id="editCity-name" type="text" name="name" value="<%= city.name %>" required>

        <label class="editCity-label">Beschrijving</label>
        <textarea class="editCity-textarea" id="editCity-description" name="description" required><%= city.description %></textarea>

        <label class="editCity-label">Bevolking</label>
        <input class="editCity-input" id="editCity-population" type="number" name="population" value="<%= city.population %>" required>

        <label class="editCity-label">Hoofdstad?</label>
        <select class="editCity-select" id="editCity-isCapital" name="isCapital">
            <option value="true"  <%= city.isCapital ? "selected" : "" %>>Ja</option>
            <option value="false" <%= !city.isCapital ? "selected" : "" %>>Nee</option>
        </select>

        <div class="editCity-line"></div>

        <p class="editCity-info"><strong>Regio Type:</strong> <%= city.regionType %></p>
        <p class="editCity-info"><strong>Gesticht:</strong> <%= city.foundedDate %></p>
        <p class="editCity-info"><strong>Land ID:</strong> <%= city.countryid %></p>
        <p class="editCity-info"><strong>Bezienswaardigheden:</strong> <%= city.landmarks %></p>

        <div class="editCity-submitBox">
            <input class="editCity-submit" type="submit" value="Wijzigingen Opslaan">
             <a href="javascript:history.back()" class="editCity-cancel">Annuleren</a>
        </div>
    </form>

</div>

<%- include("partials/footer") %>
